.PORTFOLIO {
	WIDTH : 80%; margin : 0 auto; display: block;
}

.STUDENT {
	display : flex; justify-content : center; margin : 0 auto 25px auto; border : 1px solid black; 
}

.CONTENT {
	max-width : 500px;
}

.PHOTO {
	background-position : center center;
	background-size : contain;
    background-repeat : no-repeat;
	display: block;
	width : 150px;
	height : 150px;
	border : 1px solid black;
}

.NAME, .DATE, .EMAIL, .PHONE, .HOBBY, .INFO {
	display : block;
	padding : 0px 10px 10px 10px;
}