body {
	font-family: 'Open Sans', sans-serif;
	background-color: #EEEEFF;
}

#title {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	color: orange;
}

#description {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	color: darkorange;
}

#catlist {
	width: 600px;
	margin: 0 auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-center;
	background-color: #6495ed;
	border: #FFAAFF double 1px;
	padding: 10px;
	border-radius: 10px;
}

.flex-cat {
	flex-direcrion: column;
  	flex-wrap: wrap;
	border: #d8effe solid 2px;
	background-color: #FFFFFF;
	width: 150px;
}