body {
	background-color:#e6e6fa;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
	color: orange;
}
h2 {
	text-align: center;
	color: darkorange;
}
h3 {
	text-align: center;
}
h4 {
	text-align: center;
}
p {
	text-align: center;
}
